#cursor{
    position: fixed;
    z-index: 100000;
    top: 10px;
}
  .cursor {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: rgba(123, 0, 255, 0.393);
    border-radius: 50%;
    pointer-events: none;
    transition: transform 0.15s cubic-bezier(0.25, 1, 0.5, 1);
    z-index: 1000;
  }
  
  /* Styles for trailing elements */
  .trail {
    position: absolute;
    width: 20px;
    height: 16px;
    background-color: rgba(21, 0, 255, 0.42);
    border-radius: 50%;
    pointer-events: none;
    transition: transform 0.15s cubic-bezier(0.25, 1, 0.5, 1);
    z-index: 1000;
  }
  